<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/estilos/estilos.css'>
    <title> <%= title %> </title>
</head>
<body>
    <header>
        <nav id="menuPrincipal">
            <ul>
                <li><a href="/filme/listarFilmes">Filmes</a></li>
                <li><a href="/ator/listarAtor">Ator</a></li>
                <li><a href="/pais/listarPaises">Pais</a></li>
            </ul>
    </header>

    <div id="imagemCentral">
        <img src="/imagens/FatecFranca.jpg" alt="Imagem Central">
    </div>

    <footer>
        <h6> Desenvolvido por João em 2019 &copy;| Programação Script</h6>
    </footer>
</body>
</html>